<div class="inner-content" style="margin-top: 200px;color: #000;">
	<h1 style="text-align: center;">Profil Kepdes</h1>
<div class="container" style="text-align: justify;display: flex; justify-content: center;margin-top: 50px;" >
	<div class="row" style="display: flex; justify-content: center; align-items: center;">
		<div class="col-md-6">
			<img src="{{ url_for('static',filename='css/images/tes.png')}}" width="100%" style="border-radius: 10px;" alt="">
		</div>
	<div class="col-md-6">
<p style="font-size: 20px;">
	Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate ipsam obcaecati iusto, iure ducimus quasi recusandae quia ad ea, voluptas nesciunt, sunt dignissimos facere mollitia cum expedita vitae. Voluptas, fugiat.
</p>		
<h3 style="	font-family:'Poppins', sans-serif;"><b>Nama :David</b></h3>
<br>
<h3 style="	font-family:'Poppins', sans-serif;"><b>Umur :18</b></h3>
	</div>
	</div>
</div>
<div class="contact" style="margin:50px">
	<h1 style="text-align: center;">Kontak</h1>
	<div class="">
		<form action="">
			<input type="text">
		</form>
	</div>
</div>
</div>